google-api-python-client>=2.110.0
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.1.1
google-generativeai
jinja2
jsonschema
matplotlib
openai==1.2.0
pandas
python-dotenv
pyyaml
requests==2.31.0
